/* =================================
  Base Styles
==================================== */

* {
  box-sizing: border-box;
}

body {
  font-family: "Verdana", sans-serif;
  line-height: 1.6;
  margin: 0;
  /* background-color: black; */
  background-image: linear-gradient(to right, #F2F1F1 1%, #8A8685 5%, #8A8685 95%, #F2F1F1 99%);
  letter-spacing: .1rem;
}

a {
	text-decoration: none;

}

/* =================================
  Header Styles
==================================== */

header .jumbotron {
  display: none;
  background-image: radial-gradient(white 61%, #F1CC06 80%, #F0B706 90%, #D89205 99%);
  min-height: 726px;
  align-items: center;
  padding-top: 0;
  margin-bottom: 0;
}

#navbarNav {
  background-color: white;
}

#navbarNav ul {
  align-items: center;
}

#downButton {
  font-size: 2rem;
  display: block;
  margin: 0 auto;
}







/* =================================
  Main Styles
==================================== */

.section-headers {
  background-image: linear-gradient(to bottom right, #E4C705, #E49B06);
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  margin-top: 7rem;
  margin-bottom: 5rem;

}

.section-headers h2 {
  color: #795548;
  font-weight: 550;
  text-shadow: 2px 1px white;
}

.carousel {
  box-shadow: 10px 10px black;
  border: 5px solid white;
  margin-bottom: 3rem;
}

#intro-row {
  align-items: center;
}

#candles .card,
#soaps .card,
#bathBombs .card {
  height: 100%;
}

#candles .col-lg-4,
#soaps .col-lg-4,
#bathBombs .col-lg-4 {
  box-shadow: 4px 4px;
  margin-top: 3rem;
}


/* =================================
  Footer Styles
==================================== */

a {
  color: pink;
}

footer {
  color: white;
  background-color: black;
  border-top: 3px solid white;
}

/* =================================
  Media Queries
==================================== */

@media(min-width: 992px) {
  #navbarNav {
    justify-content: center;
    background-image: linear-gradient(to right, white 35% , #F1CC06);
    border-bottom: 3px solid black;
    border-top: 3px solid black;
    height: 85px;
  }
}

@media(min-width: 1400px) {

  header .jumbotron {
    display: flex;
  }

  body {
  background-image: linear-gradient(to right, #F2F1F1 1%, #8A8685 15%, #8A8685 85%, #F2F1F1 99%);
  }

}

@media(min-height: 726px) {
  header .jumbotron {
    min-height: 726px;
  }
}

@media(min-height: 850px) {
  header .jumbotron {
    min-height: 850px;
  }
}
